<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<?php
	$i18n = $this->i18n;
	$user = $this->user;
?>
<head>
    <title>FlexisourceIT - HOME</title>
</head>
<body>
    <div id="main">
        <?php echo $this->partial('partials/register.phtml'); ?>
    </div>
</body>
</html>
